{% extends 'base.html.twig' %}

{% set title = 'Quiz - panel pytań' %}
{% block title %}{{ title }}{% endblock %}
{% block header %}<p>{{ title }}</p>{% endblock %}
{% block messages %}
  {{ include('QuizBundle:Helpers:messages.html.twig', {
    'form_errors': form.vars.errors|default([]),
    'flashbag_all': app.session.flashbag.all()
  }) }}
{% endblock %}
{% block body %}
  <p class="pSection">Dodaj nowe pytanie</p>
  <div id="div_add_question">
    {{ form_start(form) }}
      <p id="p_label">{{ form_label(form.identifier) }}</p>
      <p id="p_widget">
        {{ form_widget(form.identifier) }}
        {{ form_widget(form.submit) }}
      </p>
    {{ form_end(form) }}
  </div>
  <p class="pSection">Lista pytań</p>
  <div id="div_questions_table">
    {% if questions %}
      <table id="table_questions">
        <tr id="head">
          <td id="id">ID</td>
          <td id="identifier">Identyfikator</td>
          <td id="operations">Operacje</td>
        </tr>
        {% for question in questions %}
          <tr>
            <td>{{ question.id }}</td>
            <td>{{ question.identifier }}</td>
            <td>
              <a href="{{ path('_quiz_question_edit', {'id': question.id}) }}">Edytuj</a>,
              <a href="{{
                path('_quiz_question_delete', {
                  'id': question.id,
                  'strona': app.request.attributes.get('page')
                })
              }}">Usuń</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <h1>Brak pytań</h1>
    {% endif %}
    {{ paginator.render()|raw }}
  </div>
{% endblock %}
