{% extends 'base.html.twig' %}

{% block title %}Quiz - edycja pytania{% endblock %}
{% block header %}<p>Quiz - edycja pytania (ID:  {{ app.request.attributes.get('id') }})</p>{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/questions.js') }}"></script>
{% endblock %}
{% block messages %}
  {{ include('QuizBundle:Helpers:messages.html.twig', {
    'form_errors': form.vars.errors|default([]),
    'flashbag_all': app.session.flashbag.all()
  }) }}
{% endblock %}
{% block body %}
  <div id="div_form">
    {{ form_start(form) }}
    <div id="div_form_question">
      {{ form_row(form.identifier) }}
      {{ form_row(form.content) }}
      {{ form_row(form.type) }}
      {{ form_row(form.level) }}
      {{ form_row(form.status) }}
      {{ form_row(form.submit) }}
    </div>
    <div id="div_form_answers">
      <ul class="tags" data-prototype="{{ form_widget(form.answers.vars.prototype)|e }}">
      {# iterate over each existing tag and render its only field: name #}
        {% for answer in form.answers %}
            <li>{{ form_row(answer.content) }}{{ form_row(answer.correct) }}</li>
        {% endfor %}
      </ul>
      <a href="#" id="a_add_answer">Dodaj odpowiedź</a>
    </div>
    {{ form_end(form) }}
  </div>
{% endblock %}
