{% if pages %}
  {% set route_name = app.request.attributes.get('_route') %}
  <div id="div_pagination">
    {% if current_page > 1 %}
      <a href="{{ path(route_name, {(route_parameter_name): 1}) }}">Pierwsza</a>
    {% endif %}
    {% if current_page > 2 %}
      <a href="{{ path(route_name, {(route_parameter_name): (current_page - 1)}) }}">Poprzednia</a>
    {% endif %}
    {% for i in pages %}
      {% if i == current_page %}
        <span class="span_current">{{ i }}</span>
      {% else %}
        <a {% if loop.first %}id="a_first"{% elseif loop.last %}id="a_last"{% endif %} href="{{ path(route_name, {(route_parameter_name): (i)}) }}">{{ i }}</a>
      {% endif %}
    {% endfor %}
    {% if current_page < all_pages_count - 1 %}
      <a href="{{ path(route_name, {(route_parameter_name): (current_page + 1)}) }}">Następna</a>
    {% endif %}
    {% if current_page < all_pages_count %}
      <a href="{{ path(route_name, {(route_parameter_name): (all_pages_count)}) }}">Ostatnia</a>
    {% endif %}
  </div>
{% endif %}
