<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Quiz{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/quiz.css') }}" />
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
      <div id="div_header">{% block header %}Quiz{% endblock %}</div>
      <div id="div_messages">{% block messages %}{% endblock %}</div>
      <div id="div_content">
        {% block navigator %}{% endblock %}
        {% block body %}{% endblock %}
      </div>
    </body>
</html>
