{% extends 'base.html.twig' %}

{% set title = 'Quiz - strona główna' %}
{% block title %}{{ title }}{% endblock %}
{% block header %}<p>{{ title }}</p>{% endblock %}
{% block body %}
  <div id="div_menu">
    <a href="{{ path('_quiz_questions_panel') }}">Przejdź do panelu pytań</a>
  </div>
{% endblock %}
