/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/********** QUIZ - COMMON **********/

html *
{
   font-size: 14px;
   color: #000;
   font-family: Helvetica, Arial;
}

h1 {
  font-size: 32px;
}

p.pSection {
  font-weight: bold;
}

#div_header {
  height: 70px;
  width: 100%;
  background-color: darkslategray;
}

#div_header p {
  display: inline-block;
  margin: 15px 0 0 15px;
  color: #fff;
  font-size: 40px;
}

#div_messages {
  width: 100%;
  margin-top: 10px;
}

#div_messages div {
  width: 100%;
  margin-bottom: 10px;
  padding: 4px 0;
}

#div_messages li {
  display: block;
  margin-left: 20px;
  padding: 2px 0;
  color: #fff;
  font-size: 15px;
}

#div_error {
  background-color: #B0413E;
}

#div_success {
  background-color: #6b9311;
}

#div_content {
  width: 90%;
  margin: 10px auto 0;
}

/********** QUIZ - FRONTPAGE **********/

#div_menu {
  margin-top: 40px;
}

#div_menu a {
  font-size: 18px;
}

/********** QUIZ - PANEL **********/

#div_form_question {
  width: 35%;
  float: left;
}

#div_form_question > div {
  margin-bottom: 10px;
}

#div_form_question  input#question_identifier {
  padding: 6px;
  width: 100%;
  font-size: 17px;
}

#div_form_question  textarea#question_content {
  padding: 6px;
  width: 100%;
  font-size: 17px;
  height: 100px;
  resize: none;
}

#div_form_answers {
  width: 45%;
  float: left;
  margin-left: 30px;
}

#div_questions_table {
  margin-top: 10px;
  width: 460px;
}

#table_questions {
  width: 100%;
}

#table_questions tr {
  height: 30px;
}

#table_questions tr#head {
  background-color: cadetblue;
  font-weight: bold;
}

#table_questions tr:nth-child(even) {
  background-color: #eee;
}

#table_questions tr:nth-child(odd) {
  background-color: #ddd;
}

#table_questions td {
  vertical-align: middle;
  padding: 0 5px;
}

#table_questions td#id {
  width: 15%;
}

#table_questions td#identifier {
  width: 65%;
}

#table_questions td#operations {
  width: 20%;
}

#div_add_question {
  width: 460px;
  height: 70px;
  margin: 10px 0 15px;
}

#div_add_question p {
  display: inline-block;
  float: left;
}

#div_add_question p#p_label {
  width: 110px;
  padding: 6px 0;
}

#div_add_question p#p_widget {
  width: 340px;
}

#div_add_question label {
  font-size: 16px;
}

#div_add_question input#question_add_identifier {
  width: 100%;
  padding: 5px 2px;
}

#div_add_question button#question_add_submit {
  width: 150px;
  height: 30px;
  margin-top: 10px;
}

#div_pagination {
  float: right;
  margin-top: 15px;
}

#div_pagination a {
  display: inline-block;
  padding: 2px 1px;
}

#div_pagination #span_current {
  display: inline-block;
  padding: 2px 1px;
}

#div_pagination a#a_first {
  margin-left: 15px;
}

#div_pagination a#a_last {
  margin-right: 15px;
}
