{% set flash_errors = flashbag_all.error|default([]) %}
{% set flash_success = flashbag_all.success|default([]) %}

{% if form_errors is not empty or flash_errors is not empty %}
  <div id="div_error">
    <ul>
    {% for error in form_errors %}
      <li>{{ error.message }}</li>
    {% endfor %}
    {% for message in flash_errors %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  </div>
{% endif %}
{% if flash_success is not empty %}
  <div id="div_success">
    <ul>
      {% for message in flash_success %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
